$white: #fff; // header nav, labels
$body-dark: #18191a; // body background
$dark-bg: #2d2e2f; // hero shade
$dark-light-bg: #242526; // pills bg shade
$dark-light: #141619; // tile light top share
$labels-dark: #8f9090; // header nav, labels
$labels-light: $white; // header nav, labels
$dark-gray: #474849; // drop-down
$tile-span: #a3a9b5; // data-address-hash
$nav-links: $labels-dark; // blocks,transactions, tokens, apis
$nav-icons: #a3a9b5; // icons nav section
$input-search-icon: #bebebe; //input search icons
$energi-text-green: #25e47b; // green text
$hover-dark-primary: #00ab58; // pop up when over on contract address on main section
$hovered-dark-primary: #00924b; // hover on buttons
$red-reorg-blocks: #fc4d4d; // reorg blocks color
$alert-danger-dark-mode-color: #ffb343; // text color on the alert message in the blocks section
$tile-status-error-reason: #ff7986; // transaction failed
$slash-icon: #21d34f;
$text-truncate-color: #a3a4a4;
$btn-full-primary-bg-dark-mode: $hover-dark-primary !default;
$btn-full-primary-color-dark-mode: $white !default;
$dark-stakes-banned-background: #3e314c;
$dashboard-banner-network-stats-item-before-background-color-dark-mode: $dark-secondary !default;
$header-links-background-color-dark-mode: $dark-light !default;

// Switcher
.dark-mode-changer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-right: 5px;
	outline: none !important;
	box-shadow: none !important;
	transition: 0.2s ease-in;
	&:hover {
		opacity: 0.8;
	}

	&--dark {
		svg path {
			fill: $dark-primary;
		}
	}
}

.dark-theme-applied {
	color: $white;

	// navbar
	.navbar.navbar-primary {
		background-color: $dark-bg;
		.input-group-text {
			&.border {
				background-color: $dark-bg;
			}
		}

		.input-group-append {
			height: 38px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 38px;
			z-index: 5;

			&.left {
				left: 0px;
			}

			&.right {
				right: 8px;
				width: 25px;
				height: 25px;
			}

			&.desktop-only {
				@include media-breakpoint-down(md) {
					display: none;
				}
			}

			*,
			&:hover {
				fill: $input-search-icon;
			}
		}
		.nav-submenu {
			color: $labels-dark;
			background-color: $header-links-background-color-dark-mode;
		}
	}

	.navbar.navbar-primary .navbar-nav .nav-link {
		color: $nav-links;
		.nav-link-icon {
			svg path {
				fill: $nav-icons;
			}
		}
		&.active,
		&:hover {
			.nav-link-icon {
				svg path {
					fill: $dark-primary;
				}
			}
			&:before {
				background-color: $dark-primary;
			}
		}
	}
	.navbar.navbar-primary .form-control {
		background-color: $dark-bg;
		border-color: $dark-bg;
		color: $white;
		&::placeholder {
			color: $white;
		}
	}

	// footer
	.footer {
		background: $dark-light-bg;
		color: $labels-dark;
	}
	.footer-social-icon,
	.footer-link {
		color: $labels-dark;
	}
	.footer-social-icon:hover,
	.footer-link:hover {
		color: $dark-secondary;
	}
	.footer-list ul li::before {
		background-color: $dark-secondary;
	}
	.bold-style {
		color: $white;
		font-size: 13px;
		line-height: 22px;
		text-decoration-line: underline;
	}

	// hero stats
	.layout-container .dashboard-banner-container {
		background-image: none;
		background-color: $dark-bg !important;
	}
	.dashboard-banner-network-plain-container,
	.dashboard-banner-network-plain-container::after {
		background-color: $dark-bg;
	}
	.dashboard-banner-network-stats-label,
	.dashboard-banner-chart-legend .dashboard-banner-chart-legend-label {
		color: $labels-light;
	}
	.dashboard-banner-network-stats-item::before {
		background-color: $dashboard-banner-network-stats-item-before-background-color-dark-mode !important;
	}
	.dashboard-banner-chart-legend .dashboard-banner-chart-legend-item {
		&.price-per-day {
			&::before {
			  background-color: $dark-primary;
			}
		  }
	  
		  &.gas-price-oracle {
			&::before {
			  background-color: $dark-primary;
			}
		  }
	  
		  &.market-cap-per-day {
			&::before {
			  background-color:$dark-secondary;
			}
		  }
	  
		  &.tx-per-day {
			&::before {
			  background-color: $dashboard-line-color-transactions;
			}
		  }
	}

	// main container, layout, cards
	.layout-container main {
		background-color: $body-dark;
	}

	.card {
		background-color: $dark-light-bg;
		box-shadow: 0 0 30px 0 rgba(23, 24, 41, 0.5);
	}

	.card-header {
		border-bottom-color: darken($labels-dark, 30);
	}

	.address-detail-hash-title {
		color: $white;
	}

	.card-tabs {
		border-bottom-color: darken($labels-dark, 30);
	}

	.card-tab {
		background-color: transparent;
		&:hover:not(.active) {
			background-color: rgba($dark-primary, 0.15);
			color: $dark-primary;
		}
		&.active {
			background-color: $dark-primary-alternate;
			color: $white;
		}
	}

	.card-background-1 {
		background-color: $dark-primary-alternate;
	}

	// Components
	a {
		color: $energi-text-green;
	}

	.tile, .tile-code {
		border-top-color: $dark-light;
		border-bottom-color: $dark-light;
		border-right-color: $dark-light;
		background-color: $dark-light;
		color: $labels-dark;
		&:not([class^="tile tile-type"]) {
			border-left-color: $dark-light;
		}
		&.tile-type-coin-balance {
			border-left-color: $dark-light;
		}
		&.tile-type-reorg {
			@include generate-tile-block(".tile-type-reorg", $red-reorg-blocks);
		}
		&.tile-type-transaction {
			@include generate-tile-block('[class*="tile-status--success"]', $dark-primary-alternate);
		}
		&.tile-type-internal-transaction {
			@include generate-tile-block(".tile-type-internal-transaction", $dark-primary-alternate);
		}
		.tile-title {
			color: $white;
		}
	}
	.tile-bottom-contents {
		background-color: $dark-light-bg;
		border: 1px solid $dark-gray;
		box-sizing: border-box;
		border-radius: 0px;
	}
	a.tile-title {
		color: $energi-text-green !important;
	}
	.tile.tile-type-block .tile-transaction-type-block a {
		color: $dark-primary-alternate;
	}
	.tile.tile-type-transaction .tile-label {
		color: $white !important;
	}
	span.tile-label {
		color: $dark-primary-alternate;
	}
	.fade-up-blocks-chain .tile-type-block-animation {
		background-color: $dark-light;
		border-top-color: $dark-light;
		border-right-color: $dark-light;
		border-bottom-color: $dark-light;
	}
	.fade-up-blocks-chain .tile-type-block-animation:after {
		background-color: $dark-light;
	}
	.cube-animation-title {
		color: $labels-dark;
	}
	.tile-body {
		color: $tile-span !important;
	}
	.tile a:hover span[data-address-hash] {
		color: $energi-text-green !important;
	}
	.tile span[data-address-hash] {
		color: $energi-text-green !important;
	}
	.tile a[data-test="token_link"] {
		color: $tile-span;
	}
	a[data-test="address_hash_link"] {
		color: $energi-text-green !important;
	}
	a.tile {
		color: $labels-dark;
	}
	.tile.tile-type-block {
		border-left-color: $dark-primary-alternate;
	}
	.tile.tile-type-block .tile-status-label {
		color: $dark-primary-alternate;
	}
	.tile.tile-type-block .tile-transaction-type-block {
		border-right-color: $dark-primary-alternate;
		border-top-color: $dark-primary-alternate;
		border-bottom-color: $dark-primary-alternate;
	}
	.tile .progress {
		background-color: rgba($white, 0.2);
	}
	.tile .progress .progress-bar {
		background-color: $dark-primary;
	}
	.tile .tile-title-lg:not([data-balance-change-sign]) {
		color: $dark-primary;
	}
	a.tile-title-lg {
		color: $energi-text-green !important;
	}
	.tile-muted {
		background-color: $dark-gray;
		border-left: 1px solid $dark-gray;
		box-shadow: none;
		color: $white;
	}
	.color-nowrap {
		color: $energi-text-green !important;
		@media (min-width: 1200px) {
			color: $energi-text-green !important;
		}
	}

	&.tile-type-block {
		max-width: 100%;
		.tile-title {
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 12px;
			padding: 1rem 1rem 0 1rem;
		}
	}

	&.tile-type-contract-creation {
		.tile-text-highlight {
			text-decoration: underline;
			text-decoration-style: dashed;
		}
	}

	&.tile-type-token {
		border: 1px solid $border-color;
	}

	&.tile-type-token-transfer {
		&-short-name {
			max-width: 45%;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
		}
	}

	&.tile-type-unique-token-image {
		padding: 0;

		& .tile-content {
			padding: 45px 0;
		}
	}

	.color-tile-right-text {
		color: $tile-span !important;
	}

	.card-body {
		border-radius: 10px;
		border: 1px solid #454545;
	}

	// btns
	.btn-line {
		background-color: transparent;
		border-color: $dark-secondary;
		border-radius: 2px;
		color: $slash-icon;
		&:hover {
			border-color: $white;
			background-color: $hovered-dark-primary;
			border-radius: 2px;
			color: #f4f4f6;
		}
	}

	.btn-copy-icon,
	.btn-qr-icon,
	.btn-address-card-icon .btn-contract-icon {
		border-color: $energi-text-green;
		path {
			fill: $energi-text-green;
		}
		&:hover {
			background-color: $energi-text-green;
			path {
				fill: $white;
			}
		}
	}

	.btn-wallet-icon {
		color: $energi-text-green;
		border: 1px solid $energi-text-green;
		&:hover {
		  color: #fff;
		}
	}

	// pagination
	.pagination-container .pagination .page-link {
		color: $white;
		border-color: $dark-gray;
		background-color: $dark-gray;
		path {
			fill: $dark-primary;
		}
		&:not(.no-hover):hover {
			color: $white;
			background-color: $hover-dark-primary;
			path {
				fill: $white;
			}
		}
		&[disabled] {
			color: $labels-dark;
			border-color: $dark-light;
			background-color: $dark-light;
		}
	}

	// dropdown
	.dropdown-menu {
		background-color: $dark-light;
		border-left-color: $dark-light;
		border-right-color: $dark-light;
		border-bottom-color: $dark-light;
	}

	.dropdown-item {
		color: $white;
		&:hover {
			background-color: rgba($white, 0.1);
		}
	}
	.dropdown-item.active {
		background-color: $dark-primary;
	}
	.dropdown-item.active.header,	.dropdown-item.header:hover,	.dropdown-item.header:focus {
		background-color: $dark-light !important;
	}
	.btn-dropdown-line {
		background-color: $dark-gray;
		border-color: $dark-gray;
		color: $white;
		.dropdown-toggle::after {
			color: $dark-primary;
		}
	}

	// table
	.stakes-table-head {
		background-color: $dark-light;
		color: $labels-dark;
	}

	.stakes-table-th {
		background-color: rgba(71, 72, 73, 0.35);
		color: $labels-light;
	}

	.tile-body {
		.order-1 {
			color: #00df63;
		}
	}

	.dropdown-toggle:after {
		color: #00df63;
	}

	.stakes-table-body {
		.refresh-informer {
			a {
				color: inherit;
			}
		}
	}

	.stakes-td {
		border-bottom-color: rgba(57, 57, 57, 0.2);
		.color-lighten {
			color: $white;
		}
	}

	.token-icon {
  	padding-right: 0px;
		border-bottom: 1px solid rgba(57, 57, 57, 0.2);
	}

	.addresses-table-container {
		margin-left: -30px;
		margin-right: -30px;
		.stakes-table-container {
			table {
				width: 100%;
				th:first-child {
					padding-left: 25px;
				}
				td:first-child {
					padding-left: 25px;
				}
			}
		}
		.color-lighten {
			color: $white;
		}
	}

	.stakes-tr-banned {
		.stakes-td {
			background-color: $dark-stakes-banned-background;
			border-top: 1px solid $stakes-banned-color;
			border-bottom-color: $stakes-banned-color;

			.stakes-td-link-style {
				color: $stakes-banned-color;
			}
		}
	}

	.modal-validator-alert {
		background-color: $dark-stakes-banned-background;
		border-top: 1px solid $stakes-banned-color;
		border-bottom-color: $stakes-banned-color;
	}

	.table th,
	.table td {
		border-top-color: darken($labels-dark, 30);
	}
	hr {
		border-top-color: darken($labels-dark, 30);
	}
	tr {
		border: 1px solid rgba(69, 69, 69, 0.5);
	}

	.i-tooltip {
		.i-tooltip-circle {
			fill: $labels-dark;
		}

		.i-tooltip-info {
			fill: $dark-light-bg;
		}

		&:hover {
			.i-tooltip-circle {
				fill: $dark-primary;
			}

			.i-tooltip-info {
				fill: $white;
			}
		}
	}

	// api's
	.api-anchors-list {
		background-color: #2c2c2c;
	}
	.api-doc-list-item {
		border-bottom-color: darken($labels-dark, 30);
	}
	.card-subtitle,
	.api-anchors-list-item-title,
	.api-doc-list-item-title {
		color: $white;
	}
	.api-text-monospace-green {
		color: $energi-text-green;
		font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	}
	.api-text-monospace {
		color: $white;
	}
	.api-text-monospace-main {
		color: $energi-text-green;
	}
	.api-text-monospace-background {
		background: $dark-gray;
		border: 1px solid $dark-gray;
		box-sizing: border-box;
		border-radius: 4px;
	}
	.badge.badge-neutral {
		background-color: $dark-gray;
		color: #d2dae9;
		border-radius: 4px;
	}
	.badge.badge-success {
		background-color: #355d49;
		color: $slash-icon;
		border-radius: 4px;
	}

	// download csv button
	.download-all-items .download-all-items-link svg path {
		fill: $dark-primary;
	}

	//tooltips
	.tooltip .arrow:before {
		border-top-color: $hover-dark-primary;
		border-bottom-color: $hover-dark-primary;
	}
	.tooltip > .tooltip-inner {
		background-color: $hover-dark-primary;
	}

	.tooltip-pale-color.bs-tooltip-top .arrow::before,
	.tooltip-pale-color.bs-tooltip-auto[x-placement^="top"] .arrow::before {
		border-top-color: rgba($white, 0.5) !important;
	}

	.tooltip-pale-color.bs-tooltip-right .arrow::before,
	.tooltip-pale-color.bs-tooltip-auto[x-placement^="right"] .arrow::before {
		border-right-color: rgba($white, 0.5) !important;
	}

	.tooltip-pale-color.bs-tooltip-bottom .arrow::before,
	.tooltip-pale-color.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
		border-bottom-color: rgba($white, 0.5) !important;
	}

	.tooltip-pale-color.bs-tooltip-left .arrow::before,
	.tooltip-pale-color.bs-tooltip-auto[x-placement^="left"] .arrow::before {
		border-left-color: rgba($white, 0.5) !important;
	}

	//coin dropdown
	.token-balance-dropdown.dropdown-menu {
		border-color: $dark-gray !important;
		box-shadow: 0 0 30px 0 rgba(23, 24, 41, 0.5) !important;
	}
	.token-balance-dropdown .dropdown-search-icon path {
		fill: $labels-dark;
	}
	.token-balance-dropdown .dropdown-search-field {
		background-color: $dark-gray;
		border-color: $dark-light;
		color: $white;
		&::placeholder {
			color: $labels-dark;
		}
	}
	.token-balance-dropdown[aria-labelledby="dropdown-tokens"] .dropdown-items .dropdown-item:hover {
		color: $white !important;
	}
	.dropdown-header {
		color: $dark-gray;
	}
	.border-bottom {
		border-bottom-color: darken($labels-dark, 30) !important;
	}

	// coin balance history chart
	.chartjs-render-monitor[data-chart="coinBalanceHistoryChart"] {
		filter: brightness(0) invert(1) !important;
	}

	// logs search
	.logs-search-input,
	.logs-search-btn,
	.logs-search-btn-cancel {
		background-color: $dark-light;
		border-color: $dark-light;
		color: $white;
	}

	.logs-search-btn {
		color: $labels-dark;
	}

	.logs-search-btn {
		&:hover {
			background-color: $dark-primary;
			color: $white;
		}
	}

	.logs-search-input {
		&::placeholder {
			color: $labels-dark;
		}
	}

	// code
	pre {
		color: $white;
	}

	// info alert
	.alert-info {
		color: $labels-dark;
		background-color: $dark-light;
		border-color: $dark-light;
	}

	// dark text
	.text-dark {
		color: $white !important;
	}

	// Contract Verification
	.new-smart-contract-container {
		background-color: $dark-light-bg;
		background-image: linear-gradient(to bottom right, $dark-light 100%, $dark-light 100%);
		@media (max-width: 991.98px) {
			background-image: none;
		}
	}
	.smart-contract-form-group-inner-wrapper .smart-contract-form-group-tooltip {
		color: $labels-dark;
	}
	.smart-contract-title {
		color: $white;
	}
	.smart-contract-form-group-inner-wrapper > label {
		color: $labels-dark;
	}
	.smart-contract-form-buttons {
		border-top-color: darken($labels-dark, 30);
		.btn-no-border {
			background-color: $dark-light;
			border-color: $dark-light;
			color: $white;
			&:hover {
				background-color: $dark-primary;
				color: $white;
			}
		}
	}
	.add-contract-libraries-wrapper {
		border-top-color: darken($labels-dark, 30);
	}

	.token-tile-view-more:before,
	.token-tile-view-more:after {
		border-top-color: darken($labels-light, 30);
		border-bottom-color: darken($labels-light, 30);
	}

	// Form Controlls
	.form-control {
		background-color: $dark-gray;
		border-color: $dark-light;
		color: $white;
		transition: border-color 0.15s ease-in-out;

		&[readonly] {
			background-color: $dark-light !important;
		}

		&:focus {
			background-color: $dark-light;
			border-color: $dark-primary;
			color: $white;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			caret-color: $white;
			-webkit-text-fill-color: $white;
			-webkit-box-shadow: 0 0 0px 1000px $dark-light inset;
		}
	}

	.input-group:not(.input-status-error) .form-control:focus ~ .input-group-prepend.last {
		.input-group-text {
			border-color: $dark-primary;
		}
	}

	.search-input {
		background: url("/images/search_glass.svg") no-repeat 20px 20px;
		background-size: 17px 16px;
		background-position: left;
		background-position-x: 10px;
		padding-left: 35px;
	}

	.input-group-prepend.last {
		.input-group-text {
			background: $dark-light;
			border-color: $dark-light;
			color: $labels-dark;
		}
	}

	.radio-big .radio-icon {
		border-color: $labels-dark;
	}
	.radio-big input[type="radio"]:checked + .radio-icon {
		border-color: $dark-primary;
	}
	.radio-big input[type="radio"]:checked + .radio-icon::before {
		background: $dark-primary;
	}
	.radio-big .radio-text {
		color: $white;
	}

	.check input[type="checkbox"]:checked + .check-icon::before {
		background: $dark-primary;
	}

	// Content loading placeholders
	.tile-loader,
	.table-content-loader {
		background-color: $dark-bg !important;
		&:before {
			background: linear-gradient(to right, $dark-bg 2%, lighten($dark-bg, 3) 18%, $dark-bg 33%);
		}
	}

	// Verify other explorers
	.verify-other-explorers-elem {
		border-color: darken($labels-dark, 30);
		.exp-logo {
			border-right-color: darken($labels-dark, 30);
		}
		.exp-content {
			h3 {
				color: $white;
			}
			div {
				color: $labels-dark;
			}
		}
	}
	.verify-other-explorers-more {
		border-color: $dark-primary;
		svg path {
			fill: $dark-primary;
		}
		&:hover {
			background-color: $dark-primary;
			svg path {
				fill: $white;
			}
		}
	}
	.verify-other-explorers-elem {
		&:hover {
			text-decoration: none;
			color: $white;
			.exp-content {
				h3,
				div {
					color: $white;
				}
			}
		}
	}

	#explorersModal {
		.modal-title {
			color: $white;
		}

		.text-muted {
			color: $labels-dark;
		}

		.text-drop {
			color: $header-links-color !important;
		}

		.modal-footer {
			border-top-color: darken($labels-dark, 30);
		}

		.modal-content {
			background-color: $dark-light-bg;

			.btn-primary {
				background-color: $dark-primary;
				border-color: $dark-primary;
				&:hover {
					background-color: $dark-primary;
					border-color: $dark-primary;
				}
			}
		}

		.verify-other-explorers-cell {
			.exp-logo {
				color: $white;
			}
		}

		.close {
			color: $white;
		}
	}

	#qrModal {
		.close {
			color: $white;
		}
	}

	// API docs dropdown content
	.api-doc-parameters-list-item-description,
	.api-doc-parameters-list-item-title,
	.api-doc-parameters-list-title,
	.api-doc-list-item-controls-view-more {
		color: $white;
	}

	.api-doc-parameters-list {
		border-bottom-color: darken($labels-dark, 30);
	}
	.api-doc-parameters-container {
		border-top-color: darken($labels-dark, 30);
	}
	.api-doc-tab {
		color: $dark-primary !important;
		&.active {
			border-bottom-color: $dark-primary;
		}
	}

	// Common Buttons
	.btn-secondary,
	.button-secondary {
		background-color: transparent;
		border-color: $dark-primary;
		color: $dark-primary;
		&:hover {
			background-color: $dark-primary;
			border-color: $dark-primary;
			color: $white;
		}
	}

	// Decoded data
	.table.thead-light.table-bordered {
		color: $white !important;
	}
	.table-bordered,
	.table-bordered td,
	.table-bordered th {
		border-color: darken($labels-dark, 30);
	}
	.dark-theme-applied .table td,
	.dark-theme-applied .table th,
	.dark-theme-applied hr {
		border-top-color: darken($labels-dark, 30);
	}
	.btn-copy-ico svg path {
		fill: $white;
	}

	// pre
	.pre-scrollable.line-numbers,
	.hljs {
		background: $dark-light;
		color: $white;
	}

	.hljs-comment {
		color: $labels-dark;
	}

	.hljs-title,
	.hljs-section {
		color: #ff2294;
	}

	.hljs-type,
	.hljs-string,
	.hljs-number,
	.hljs-selector-id,
	.hljs-selector-class,
	.hljs-quote,
	.hljs-template-tag,
	.hljs-deletion {
		color: #ff2294;
	}

	.hljs-literal,
	.hljs-built_in,
	.hljs-bullet,
	.hljs-code,
	.hljs-addition {
		color: #20dd94;
	}

	.line-numbers [data-line-number]:before {
		color: #3f436b !important;
		border-right-color: #3f436b !important;
	}

	// 'text dark' label
	.text-dark {
		color: $white;
	}

	// validator info
	#validatorModal {
		.modal-title {
			color: $white;
		}

		.text-muted {
			color: $labels-dark;
		}

		.modal-footer {
			border-top-color: darken($labels-dark, 30);
		}

		.modal-content {
			background-color: $dark-light-bg;

			.btn-primary {
				background-color: $dark-primary;
				border-color: $dark-primary;
				&:hover {
					background-color: $dark-primary;
					border-color: $dark-primary;
				}
			}
		}

		.close {
			color: $white;
		}
	}

	.modal-status {
		.modal-status-title {
			color: $white;
		}

		.modal-status-button-wrapper .btn-line {
			border-color: $dark-primary-alternate;
			color: $dark-primary-alternate;

			&:hover {
				background-color: $dark-primary-alternate;
				color: $additional-font;
			}
		}
	}

	.modal-dialog {
		.modal-title {
			color: $white;
		}
		.modal-content {
			background-color: $dark-light-bg;
		}

		.modal-bottom-disclaimer {
			background-color: $dark-light;

			color: $labels-dark;
		}

		.modal-bottom-disclaimer-graphic svg {
			fill: $white;
		}

		.modal-header {
			.modal-validator-info-item-title {
				color: $labels-dark;
			}

			.modal-validator-info-item-value {
				color: $white;
			}
		}

		.modal-validator-info-content {
			background-color: $dark-light;

			.modal-validator-info-item-value {
				color: $white;
			}
		}
	}

	//stakes
	.modal-stake-right {
		.stakes-progress {
			border-left-color: darken($labels-dark, 30);
		}
	}

	.modal-stake-left {
		border-right-color: darken($labels-dark, 30);
	}

	.stakes-progress-data-progress,
	.stakes-progress-info-value {
		color: $white;
	}

	.stakes-empty-content-text {
		color: $labels-dark;
	}

	.stakes-empty-content-pic-svg-path {
		fill: $dark-primary;
	}

	.stakes-address-container .stakes-address-active {
		color: $dark-primary;
	}

	.stakes-td-link-style {
		color: $dark-primary;
	}

	.stakes-control-icon path {
		fill: $dark-primary;
	}

	.progress-from-to-value {
		color: $white;
	}

	.progress-from-to-background {
		background-color: $dark-bg;
	}

	.check-tooltip {
		.check-tooltip-circle {
			fill: $labels-dark;
		}

		.check-tooltip-check {
			fill: $dark-light-bg;
		}

		&:hover {
			.check-tooltip-circle {
				fill: $dark-primary;
			}
		}
	}

	.me-tooltip {
		background-color: $labels-dark;
		color: $dark-light-bg;

		&:hover {
			background-color: $dark-primary;
		}
	}

	// alerts
	.alert-link {
		color: $labels-dark;
	}

	.alert-danger {
		background-color: $dark-gray;
		border-color: $dark-gray;
		border-radius: 5px;
		color: $alert-danger-dark-mode-color;
		.alert-link {
			color: $alert-danger-dark-mode-color;
		}
	}

	.tile .alert {
		background: $dark-gray;
	}

	.mb-6 {
		background: $dark-gray;
		color: #fff;
		display: inline-table;
		font-size: 14px;
		padding: 10px;
		border-radius: 5px;
	}

	// primary buttons
	.btn-full-primary .button-primary {
		background: $hover-dark-primary;
		border-color: $dark-primary;
		color: $white;
		&:hover {
			background: darken($hovered-dark-primary, 6);
			border-color: darken($hovered-dark-primary, 6);
			color: $white;
		}

		&[disabled] {
			&,
			&:hover {
				background-color: $dark-primary;
				border-color: $dark-primary;
			}
		}
	}

	.btn-full-primary {
		@include btn-full($btn-full-primary-bg-dark-mode, $btn-full-primary-color-dark-mode);
	}

	.logo-text {
		color: $white;
	}

	.bs-label.omni {
		background: #6ca1e2;
	}
	.bs-label {
		display: inline-block;
		background: rgba(71, 72, 73, 1);
		color: rgba(255, 255, 255, 1);
		border-radius: 5px;
		&.large {
			font-size: 14px;
		}
		font-size: 12px;
		line-height: normal;

		&.right {
			margin-left: auto;
			float: right;
		}
		&.omni {
			background: #6ca1e2;
			color: $white;
		}
		&.destination-eth {
			background: #253358;
			color: $white;
		}
		&.destination-bsc {
			background: #e7b941;
			color: $white;
		}
		&.destination-rinkeby {
			background: #153550;
			color: $white;
		}
		&.bridged {
			background: #70aee3;
			color: $white;
		}
		&.validator {
			background: $primary;
			color: $white;
		}
		&.secondary {
			background: $secondary;
			color: $white;
		}
		&.method {
			color: $white;
		}
		&.from-dropdown {
			margin-top: -3px;
		}
		&.success {
			background: rgba(40, 167, 69, 0.2);
			color: rgb(40, 167, 69);
		}
	}

	.bs-label.validator,
	.bs-label.destination-eth {
		background-color: $labels-dark;
	}

	.index-label {
		background: $dark-gray;
		color: $white;
	}

	.index-label:after {
		position: absolute;
		left: 100%;
		top: 0;
		content: "";
		border-top: 0.8rem solid transparent;
		border-bottom: 0.8rem solid transparent;
		border-left: 0.8rem solid $dark-gray;
	}

	.fa-question-circle:before {
		color: #6c757d;
	}

	.text-truncate {
		color: $text-truncate-color;
	}

	.dropdown-item {
		.external-link-icon {
			path {
				fill: $white;
			}
		}

		& {
			&.active,
			&:hover,
			&:focus {
				.external-link-icon {
					path {
						fill: $white;
					}
				}
			}
		}
	}

	.tooltip-inversed-color {
		.tooltip-inner {
			background-color: $btn-line-color !important;
			color: $white !important;
		}
	}

	.tooltip-inversed-color.bs-tooltip-top .arrow::before,
	.tooltip-inversed-color.bs-tooltip-auto[x-placement^="top"] .arrow::before {
		border-top-color: $btn-line-color !important;
	}

	.tooltip-inversed-color.bs-tooltip-right .arrow::before,
	.tooltip-inversed-color.bs-tooltip-auto[x-placement^="right"] .arrow::before {
		border-right-color: $btn-line-color !important;
	}

	.tooltip-inversed-color.bs-tooltip-bottom .arrow::before,
	.tooltip-inversed-color.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
		border-bottom-color: $btn-line-color !important;
	}

	.tooltip-inversed-color.bs-tooltip-left .arrow::before,
	.tooltip-inversed-color.bs-tooltip-auto[x-placement^="left"] .arrow::before {
		border-left-color: $btn-line-color !important;
	}

	.stakes-top {
		background-color: $dark-bg;
		background-image: none;
	}

	.contract-plus-btn {
		color: $dark-primary;
	}
	.custom-power-input {
		border-color: $dark-primary;
	}
	.stakes-btn-close-alert {
		path {
			fill: $white;
		}
	}
	.main-search-autocomplete {
		background-color: $dark-bg !important;
		color: $white !important;
		:-ms-input-placeholder {
			color: $nav-links;
		}
	}
	.autocomplete-category {
		color: $white !important;
	}
	ul[id^="autoComplete_list_"] {
		background-color: $dark-light-bg !important;
	}
	li[id^="autoComplete_result_"] {
		background-color: $dark-light-bg !important;
		color: $white !important;

		&:hover {
			background-color: $dark-primary !important;
		}
		&[aria-selected="true"] {
			background-color: $dark-primary !important;
		}
	}
}

.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border: none;
}

.dark-theme-applied .dropdown-item {
	background-color: $dark-gray !important;
	color: #f4f4f6 !important;
}

//check
.dark-theme-applied .dropdown-item.active:not(.header),
.dark-theme-applied .dropdown-item:not(.header):hover,
.dark-theme-applied .dropdown-item:not(.header):focus {
	background-image: none;
	width: 100%;
	background-color: #5f5f5f !important;
}

@media (max-width: 991.98px) {
	.dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link:hover,
	.dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link.activeLink,
	.dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link:focus {
		background-image: none;
		width: 100%;
		background-color: $dark-gray !important;
		color: #f4f4f6;
		border: none;
	}
	.dark-theme-applied .dropdown-item:hover:before {
		content: "|";
		height: 50px;
		width: 50%;
		opacity: 1;
		background: none;
		right: 17%;
		color: $dark-primary;
		position: relative;
	}
	.dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link:hover:before {
		content: "|";
		height: 50px;
		width: 50%;
		opacity: 1;
		background: none;
		left: 24%;
		top: 14%;
		color: $dark-primary;
	}
}
.dark-theme-applied .confirmations-label:after {
	border-left: 0.9rem solid $dark-light-bg;
}

.dark-theme-applied .i-tooltip-2:hover {
	color: $labels-dark;
}

.dark-theme-applied .btn-no-border-link-to-tems {
	border-color: $dark-primary;
	color: $dark-primary;
}
