// general
$primary: #00e676;
$secondary: #263238;
$tertiary: #bdbdbd;
$additional-font: #fff;

$body-dark: #18191a; // body background
$dark-bg: #2d2e2f; // hero shade
$dark-light-bg: #242526; // pills bg shade
$dark-light: #141619; // tile light top share
$labels-dark: #8f9090; // header nav, labels
$nav-links: $labels-dark; // blocks,transactions, tokens, apis
$dark-gray: #474849; // drop-down
$tile-span: #a3a9b5; // data-address-hash
$energi-text-green: #25e47b; // energi specific text color

//header
$header-background-color: #263238;
$header-links-color: #f4f4f6;
$header-links-color-active: #f4f4f6;
$header-icon-color-hover: $primary;
$header-icon-border-color-hover: $primary;

// footer
$footer-background-color: $header-background-color;
$footer-title-color: $header-links-color;
$footer-text-color: $header-links-color;
$footer-item-disc-color: $primary;
//.footer-logo { filter: brightness(0) invert(1); }

// dashboard
//$dashboard-banner-chart-legend-label-color: $header-links-color;
$dashboard-banner-network-plain-container-background-color: $header-background-color; // stats bg
$dashboard-banner-gradient-start: #212121; // gradient begin
$dashboard-banner-gradient-end: lighten(#212121, 5); // gradient end
$dashboard-banner-chart-legend-value-color: $header-links-color; // chart labels
$dashboard-banner-chart-legend-label-color: $header-links-color;
$dashboard-line-color-price: $primary; // price left border
$dashboard-line-color-market: #4b89fb; // price left border
$dashboard-stats-item-border-color: $primary; // stat border
$dashboard-stats-item-label-color: $primary;
$dashboard-stats-item-value-color: $header-links-color; // stat values

.dashboard-banner-container {
  background-color: #212121;
  background-image: none;
  margin-bottom: 3rem;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.layout-container {
  .dashboard-banner-container {
    background-image: linear-gradient(to bottom, $dashboard-banner-gradient-start, $dashboard-banner-gradient-end);
  }
}

// navigation
//.navbar { box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); } // header shadow
$dropdown-menu-item-hover-color: $primary !default;
$dropdown-menu-item-hover-background: rgba($primary, 0.1) !default;
$dropdown-menu-item-color: $secondary;

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: $primary; // button border and font color && hover bg color
$btn-copy-color: $primary; // btn copy
$btn-qr-color: $primary; // btn qr-code
$btn-address-card-icon-color: $primary; // btn address color

//links & tile
$tile-body-a-color: $primary;
$tile-type-block-color: $primary;
$tile-type-progress-bar-color: $primary;
a.tile-title {
  color: $primary !important;
}
$tile-type-transaction-color: $primary;
.tile.tile-type-transaction .tile-label {
  color: #212121 !important;
}

// card
$card-background-1: $primary;
$card-tab-active: $primary;

// Badges
$badge-neutral-color: $primary;
$badge-neutral-background-color: rgba($primary, 0.1);
$api-text-monospace-color: $primary;

// Tokens dropdown
.token-balance-dropdown[aria-labelledby="dropdown-tokens"] {
  .dropdown-items .dropdown-item:hover {
    color: $primary !important;
  }
}

// Dark theme
$dark-primary: #01e676;
$hover-dark-primary: #00ab58;
$dark-secondary: #00e676;
$dark-primary-alternate: #28a745;
