<div class="mb-4 mb-6">
    <%= render BlockScoutWeb.CommonComponentsView, "_info.html" %>
    <span> <%= gettext("Warning! Contract bytecode has been changed and doesn't match the verified one. Therefore, interaction with this smart contract may be risky.") %></span>
</div>
