#
# Set to prod or dev
MIX_ENV=prod

# Set version
BLOCKSCOUT_VERSION=v5.2.3

# Maintenance Message
SHOW_MAINTENANCE_ALERT=false
MAINTENANCE_ALERT_MESSAGE="Test Energi Explorer"

# wobserver interface
WOBSERVER_ENABLED=false

# Default (in seconds): 60 * 60 * 24 * 2
TOKEN_METADATA_UPDATE_INTERVAL=3600

#
BLOCKSCOUT_PROTOCOL=https
BLOCK_TRANSFORMER=base
#GAS_PRICE=11
RE_CAPTCHA_SECRET_KEY=CAPTCHASECRET
RE_CAPTCHA_CLIENT_KEY=CAPTCHACLIENT
#
ETHEREUM_JSONRPC_TRANSPORT=http
ETHEREUM_JSONRPC_MAXCONN=100
ETHEREUM_JSONRPC_HTTP_URL=http://CORENODEIP:HTTPPORT
ETHEREUM_JSONRPC_WS_URL=ws://CORENODEIP:WSPORT
ETHEREUM_JSONRPC_TRACE_URL=$ETHEREUM_JSONRPC_HTTP_URL
HISTORY_FETCH_INTERVAL=30
API_RATE_LIMIT=88
COIN=NRG
ENABLE_TXS_STATS=true
SHOW_TXS_CHART=true
ALLOWED_EVM_VERSIONS=petersburg,homestead,tangerineWhistle,spuriousDragon,byzantium,constantinople,istanbul
ETHEREUM_JSONRPC_VARIANT=geth
COINGECKO_COIN_ID=energi
NETWORK=Energi
SUBNETWORK=Testnet
CHAIN_ID=CHAINID
EMISSION_FORMAT=MNRG
MAX_SKIPPING_DISTANCE=2
CHECK_ORIGIN=true
CHAIN_SPEC_PATH=chain_spec_energi_testnet.json
ENERGISWAP_API_URL=ENERGISWAPAPIURL
TOKEN_EXCHANGE_RATE_CACHE_PERIOD=300
WNRG_TOKEN_ADDRESS=WNRGTOKENADDRESS
DISPLAY_TOKEN_ICONS=true
ENERGISWAP_AUTH_SECRET=ESAUTHSECRET
PORT=WEBPORT
JSON_RPC=NODEAPI

# DB Parameters
POOL_SIZE=DBPOOLSIZE
SECRET_KEY_BASE=SECRETKEYBASE
PGHOST=DBHOST
PGPORT=5432
PGDATABASE=DBNAME
PGUSER=DBUSERNAME
PGPASSWORD=DBPASSWORD
DATABASE_URL=postgresql://DBUSERNAME:DBPASSWORD@DBHOST:5432/DBNAME

# Energi
REWARDS_CONTRACT=REWARDSCONTRACT
ECTO_USE_SSL=false
BLOCKSCOUT_HOST=EXPLORERHOST
LOGO=/images/EnergiLogoLight.png
LOGO_FOOTER=/images/EnergiLogoLight.png
RELEASE_LINK=https://github.com/energicryptocurrency/energi3-blockscout/releases

#
LINK_TO_OTHER_EXPLORERS=false
#SUPPORTED_CHAINS='[]'
SUPPORTED_CHAINS='[ { "title": "Explorer Mainnet", "url": "https://explorer.energi.network/" }]'

APPS_MENU=false
EXTERNAL_APPS='[]'
